<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include 'head.html' %}
<body>
  {% include 'header.html' %}
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for publisher in publishers %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{publisher['nome']}}</h5>
                            <p class="card-text"><strong>Endereço:</strong>{{publisher['endereco']}}</p>
                            <p class="card-text"><strong>Contato:</strong>{{publisher['contato']}}</p>
                            <a style="background-color:gold;" href="{{url_for('publishers_crud', action='update', nome=publisher['nome'])}}" class="btn btn-primary">Update</a>
                            
                            <button onclick="changeInputValue('{{ publisher['id'] }}', '{{ publisher['nome'] }}')" style="background-color:crimson;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Deletar
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deleção de editora</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Você quer mesmo deletar a editora <label id="nome-info"></label>?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('publishers_crud', action='delete') }}" method="post">
                <input style="display: none;" id="id" name="id" value=""/>
                <input style="background-color:crimson;" class="btn btn-primary" type="submit" value="Delete"/>
            </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function changeInputValue(id, nome){
        console.log(nome)
        const input = document.getElementById('nome-info')
        const nome_info = document.getElementById('id')
        input.textContent = nome
        nome_info.value = id
        const modal = document.getElementById('exampleModal')

        modal.tabIndex = 5
    }
  </script>
</body>
</html>