<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ msg }} <a href="{{url_for(try_again_link, action=action)}}" class="alert-link">Voltar</a>.
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{ msg }} <a href="{{url_for(try_again_link, action=action)}}" class="alert-link">Tente novamente</a>.
        </div>
        {% endif %}
    </div>
</body>
</html>