<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% set title='Authors Form' %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
<div class="container mt-4">
    <h1 class="mb-4">{{ form_title }}</h1>
    
    <form action="{{ url_for('authors_crud', action=crud_action) }}" method="post">
        {% if crud_action != 'create' %}
        <div class="form-group">
            <label for="id">ID do Autor:</label>
            <input 
                value="{{ author_form['id'] }}"
                type="text"
                class="form-control"
                id="id" name="id"
                {% if crud_action !='read' %}required{% endif %}
                {% if crud_action in ['update', 'create'] %}
                disabled
                {% endif %}
                {% if crud_action == 'create' %}
                placeholder = "O ID é automaticamente gerado"
                {% endif %}>
        </div>
        {% endif %}
    
        <div class="form-group">
            <label for="nome">Nome do autor:</label>
            <label for="nome">Nome (até 50 caracteres):</label>
            <input value="{{ author_form['nome'] }}" class="form-control" id="nome" name="nome" maxlength="50" {% if crud_action != 'read' %}required{% endif %}>
        </div>

        <div class="form-group">
            <label for="biografia">Biografia:</label>
            <input value="{{ author_form['biografia'] }}" class="form-control" id="biografia" name="biografia" maxlength="300" {% if crud_action != 'read' %}required{% endif %}>
        </div>

        <div class="form-group">
            <label for="data_nascimento">Data de Nascimento:</label>
            <input value="{{ author_form['data_nascimento'] }}" type="date" class="form-control" id="data_nascimento" name="data_nascimento" {% if crud_action != 'read' %}required{% endif %}>
        </div>

        <div class="form-group">
            <button type="submit" onclick="enableName()" class="btn btn-primary">{{ form_title }}</button>
        </div>
    </form>
</div>
<script>
    function enableName() {
        document.getElementById('id').disabled = false;
    }
</script>
</body>
</html>