<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% set title='Publishers Form' %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
<div class="container mt-4">
    <h1 class="mb-4">{{ form_title }}</h1>
    
    <form action="{{ url_for('publishers_crud', action=crud_action) }}" method="post">
        <div class="form-group">
            <label for="id">ID da editora:</label>
            <input 
                value="{{ publisher_form['id'] }}"
                type="text"
                class="form-control"
                id="id" name="id"
                
                {% if crud_action in ['update', 'create'] %}
                        disabled
                {% endif %}
                {% if crud_action == 'create' %}
                    placeholder = "O ID é automaticamente gerado"
                {% endif %}/>
        </div>

        <div class="form-group">
            <label for="nome">Nome da editora:</label>
            <input 
                value="{{ publisher_form['nome'] }}" 
                type="text"
                class="form-control"
                id="nome"
                name="nome"
                {% if crud_action != 'read' %}required{% endif %}
            >
        </div>

        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input value="{{ publisher_form['endereco'] }}" class="form-control" id="endereco" name="endereco" maxlength="50" {% if crud_action != 'read' %}required{% endif %}>
        </div>

        <div class="form-group">
            <label for="contato">Contato:</label>
            <input value="{{ publisher_form['contato'] }}" class="form-control" id="contato" name="contato" {% if crud_action != 'read' %}required{% endif %}>
        </div>

        <div class="form-group">
            <button type="submit" onclick="enableName()" class="btn btn-primary">{{ form_title }}</button>
        </div>
    </form>
</div>
<script>
    function enableName() {
        document.getElementById('id').disabled = false;
    }
</script>
</body>
</html>