<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        {% if search %}
        <ul>
            {% for publisher in search %}
                <li>{{publisher}}</li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Nenhuma editora encontrada. <a href="{{url_for('publishers_crud', action='read')}}" class="alert-link">Tente novamente</a>.
            </div>
        {% endif %}
    </div>
</body>
</html>