<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        <h1>Queries especiais</h1>

        <a class="crud-options" href="{{url_for('get_top_5_clients')}}"><button class="btn btn-primary">Listar os 5 clientes que mais alugam</button></a>
        <a class="crud-options" href="{{url_for('get_clients_with_0_rents')}}"><button class="btn btn-primary">Listar os clientes que não possuem aluguel</button></a>
        <a class="crud-options" href="{{url_for('get_rented_books')}}"><button class="btn btn-primary">Listar livros não devolvidos</button></a>
        <a class="crud-options" href="{{url_for('get_book_by_author')}}"><button class="btn btn-primary">Pesquisar livro apenas pelo nome do autor</button></a>
        

    </div>


    
</body>
</html>

<style>
    a.crud-options{
        display: block;
        margin: 20px auto;
        max-width: 300px;
    }

    a.crud-options > button{
        width: 100%;
    }
</style>