<!DOCTYPE html>
<html lang="en">
{% set title='Books CRUD' %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        <h1>CRUD de livros</h1>

        <a class="crud-options" href="{{ url_for('books_crud', action='create') }}"><button class="btn btn-primary">Create Book</button></a>
        <a class="crud-options" href="{{url_for('books_crud', action='read')}}"><button class="btn btn-primary">Read Book</button></a>
        <a class="crud-options" href="{{url_for('books_crud', action='update')}}"><button class="btn btn-primary">Update Book</button></a>
        <a class="crud-options" href="{{url_for('books_crud', action='delete')}}"><button class="btn btn-primary">Delete Book</button></a>
        
        <!-- <form action="{{ url_for('clients_crud', action='read') }}" method="post">
            <div class="form-group">
                <label for="cpf">CPF (11 dígitos):</label>
                <input type="text" id="cpf" name="cpf" pattern="\d{11}" required title="CPF deve ter 11 dígitos">
                <button type="submit" class="btn btn-primary">Buscar Cliente</button>
            </div>
        </form> -->
    </div>
    
</body>
</html>

<style>
    a.crud-options{
        display: block;
        margin: 20px auto;
        max-width: 300px;
    }

    a.crud-options > button{
        width: 100%;
    }
</style>