<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <div class="container mt-4">
        {% if search %}
        <ul>
            {% for genre in search %}
                <li>{{genre}}</li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Nenhum gênero encontrado. <a href="{{url_for('genres_crud', action='read')}}" class="alert-link">Tente novamente</a>.
            </div>
        {% endif %}
    </div>
</body>
</html>