<!DOCTYPE html>
<html lang="en">
{% set title='Genres CRUD' %}
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        <h1>CRUD de gêneros</h1>

        <a class="crud-options" href="{{ url_for('genres_crud', action='create') }}"><button class="btn btn-primary">Create Genre</button></a>
        <a class="crud-options" href="{{url_for('genres_crud', action='read')}}"><button class="btn btn-primary">Read Genre</button></a>
        <a class="crud-options" href="{{url_for('genres_crud', action='update')}}"><button class="btn btn-primary">Update Genre</button></a>
        <a class="crud-options" href="{{url_for('genres_crud', action='delete')}}"><button class="btn btn-primary">Delete Genre</button></a>
    </div>
    
</body>
</html>

<style>
    a.crud-options{
        display: block;
        margin: 20px auto;
        max-width: 300px;
    }

    a.crud-options > button{
        width: 100%;
    }
</style>